aiohttp
aiosignal
aiostream
altair
annotated-types
anyio
async-timeout
asyncpg
atlassian-python-api
attrs
backoff
bcrypt
beautifulsoup4
blinker
build
cachetools
certifi
charset-normalizer
chromadb
click
coloredlogs
dataclasses-json
Deprecated
deprecation
distlib
distro
docx2txt
durationpy
fake-useragent
fastapi
filelock
flatbuffers
flupy
frozenlist
fsspec
gitdb
GitPython
google-auth
googleapis-common-protos
gotrue
greenlet
grpcio
h11
hf-xet
html2text
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain>=0.1.0
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
llama-hub
llama-index
lxml
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
mpmath
multidict
mypy-extensions
narwhals
nest-asyncio
nltk
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pandas
pgvector
pillow
platformdirs
postgrest
posthog
protobuf
psutil
psycopg2
psycopg2-binary
pyarrow
pyasn1
pyqt5
pyasn1_modules
pybase64
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
PyMuPDF
PyMuPDFb
pypdf
PyPika
pyproject_hooks
python-dateutil
python-decouple
python-dotenv
python-multipart
pytz
PyYAML
realtime
redis
referencing
regex
requests
requests-oauthlib
requests-toolbelt
retrying
rich
rpds-py
rsa
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
starlette
storage3
streamlit
StrEnum
supabase
supafunc
sympy
tenacity
tiktoken
tokenizers
toml
tornado
tqdm
typer
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
uvloop
vecs
virtualenv
watchfiles
websocket-client
websockets
wrapt
yarl
zipp
